.footer {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer nav ul {
    
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .footer nav ul li a {
    color: #fff;
    font-weight: bold;
  }
  
